<!-- 
COMP 229 - Fall 2022 - Web Application Development
Name: Huang Sheng Wen
Student ID: 301215574
 -->
<nav class="navbar fixed-bottom bg-light">
  <!-- Copyright -->
  <div class="container-fluid-footer">
    <p id="copyright">&copy; Copyright - Huang Sheng Wen - Student Number: 301215574 - COMP 229 - Fall 2022 &copy;</p>
  </div>
</nav>