<!-- 
COMP 229 - Fall 2022 - Web Application Development
Name: Huang Sheng Wen
Student ID: 301215574
 -->
<html>
    <body>
            <!-- Title -->
            <div class="homepage">
                <p><%= title %> Me</p>
            </div>

            <!-- Photo -->
            <div class="aboutphoto">
                <img src="/content/images/about.jpg" width="450px" height="300px" alt="AboutMe.jpg">
            </div>

            <br>

            <!-- Content -->
            <div class="aboutintro">
                Hello, 
                My name is Huang Sheng Wen, and you can call me Alan. 
                I'm from Taiwan, and this is my third semester in the Software Engineering Technician program at Centennial College.
                I graduated from a domestic university (STUST) with a BBA degree two years ago, 
                so I don't have much experience in programming. However, I am interested in creating fancy websites 
                after I learned in the last two semesters; I also aim to be a front-end developer, but this course includes 
                the back-end side, so maybe I'll change my mind to being a full-stack developer after this semester. 
                If you have any better programming or web design suggestions, please let me know because I would like to learn more about them.
                &nbsp;
                <i class="fa-solid fa-circle-right"></i>&nbsp;<a href="/content/resume/Huang Sheng Wen's Resume.pdf" target="_blank">Here is the link to see my Resume</a>&nbsp;<i class="fa-solid fa-circle-left"></i>
            </div>
    </body>
</html>