<!-- 
COMP 229 - Fall 2022 - Web Application Development
Name: Huang Sheng Wen
Student ID: 301215574
 -->
<html>
    <body>
        <!-- Title -->
        <div class="homepage">
            <p><%= title %></p>
        </div>
        
        <!-- Projects -->
        <div class="project">
            <!-- First Project -->
            <div class="project1">
                <a class="projecthover" href="/content/projects/Project.html" target="_blank"><img src="/content/images/project1.jpg" width="450px" height="300px"></a>
                <p class="projectintro">
                    <br>
                    This is a real estate seller's website, including a search function to look for a suitable property for everyone, 
                    and it also contains an online form to contact the seller.
                </p>
            </div>
            <hr>
            <!-- Second Project -->
            <div class="project2">
                <a class="projecthover" href="/content/projects/project2.htm" target="_blank"><img src="/content/images/project2.jpg" width="450px" height="300px"></a>
                <p>
                    <br>
                    This project is a photo gallery page. Users can upload five pictures to the website to make a photo gallery, 
                    and when they click the picture can add it to their favorite and click again, they can remove it from the choice.
                </p>
            </div>
            <hr>
            <!-- Third Project -->
            <div class="project3">
                <a class="projecthover" href="/content/projects/project3.html" target="_blank"><img src="/content/images/project3.jpg" width="450px" height="300px"></a>
                <p>
                    <br>
                    This is an HTML canvas game. The monster will randomly move in the canvas at the beginning, and when users click it, it will speed up to the next level.
                    Besides, there are two buttons to reset the score or speed.
                </p>
            </div>
        </div>
    </body>
</html>