<!-- 
COMP 229 - Fall 2022 - Web Application Development
Name: Huang Sheng Wen
Student ID: 301215574
 -->
<html>
    <body>
            <!-- Title -->
            <div class="homepage">
                <p><%= title %></p>
            </div>

            <!-- Content -->
            <div class="pagelist">
                <hr>
                <p>Below are the services I provide : </p>
                <ul>
                    <li>Web Design</li>
                    <li>Web Development</li>
                    <li>Web Application</li>
                    <li>General Programming</li>
                </ul>
                <p> Welcome to use the Contact Me page to reach me.</p>
            </div>
    </body>
</html>